<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{titol}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/login" routerLinkActive="active"></a>
        <a class="nav-item nav-link active" routerLink="/app" routerLinkActive="active">App </a>     
        <a class="nav-item nav-link" routerLink="/focus_" routerLinkActive="active">Temps Real</a>
        <img class="log-icon" src="./assets/icons/login-variant.png" (click)="openDialog()" height="35" width="35">
      </div>
    </div>
  </nav>-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" routerLink="/app" routerLinkActive="active">Sige</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-item" routerLink="/login" routerLinkActive="active"></a>
            <a class="nav-link" routerLink="/app" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/focus_" routerLinkActive="active">Temps Real</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          
         <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
          <img class="btn btn-secondary my-2 my-sm-0"  src="./assets/icons/login-variant.png" (click)="openDialog()" height="40" width="45">
        </form>
      </div>
    </nav>