<table class="table table-hover table-sm table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Focus</th> <!-- nombre focus -->
      <th scope="col">Analitzador</th> <!-- model analitzador -->
      <th scope="col">Sensor</th> <!-- Id sensor -->
      <th scope="col">Contaminant</th> <!-- name contaminant -->
      <th scope="col">Unitat</th><!-- unitat-name contaminant -->
      <th scope="col">Valor</th><!-- valor contaminant -->
      <th scope="col">Estat</th><!-- state (analyzer) -->
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let focus of focuses">
      <!--<th>{{ focus.id_focus }}</th>-->
      <td>{{ focus.name }}</td>
      <td> focus</td>
      <td> Id sensor</td>
      <td> Nom contaminant</td>
      <td>Unitat</td>
      <td>Valor</td>
      <td>Estat</td>
      <td *ngFor="let analyzer of focus.analyzers">
        {{ analyzer.model }}
      </td>
      
 
    </tr>
  </tbody>
</table>
